body {
    background-color: pink;
    color: #333;
    font-family: sans-serif;
  }
  
  .navbar {
    background-color: #ff69b4 !important; 
  }
  
  .navbar-brand,
  .nav-link {
    color: #fff !important;
  }
  